//- Start mobile app
.mobile-app {
    @include section();
    .sub-title {
        @include subTilte();
    }
    .info-app {
        position: relative;
        display: grid;
        grid-template-columns: 15% 85%;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 1.5rem;
            width: 3px;
            height: 100%;
            background:rgba($mainDeColor,0.3);
            z-index: -1;
        }
        .info-icon {
            @include flexCenter(row);
            background: $mainBgLinearR;
            background-size: 250% 250%;
            width: 3rem;
            height: 3rem;
            color: #fff;
            border-radius: 50%;
            i {
                font-size: 1.3rem;
            }
        }
        .info-text {
            .title {
                font-weight: 600;
                color: $secDeColor;
            }
            p {
                @include globalText($mainDeColor, none);
            }
            @include mQ (424px) {
                padding-left: 0.6rem;
            }
        }
    }
    .download-app {
        display: flex;
        align-items: center;
        gap: 1rem;
        .download {
            display: grid;
            grid-template-columns: 1fr 3fr;
            place-items: center;
            border-radius: 0.7rem;
            padding: 0.6rem 1.2rem;
            cursor: pointer;
            .icon {
                font-size: 1.5rem;
            }
            .btn-text{
                font-weight: 600;
                line-height: 1;
                @include mQ (424px) {
                    font-size: 0.7rem;
                }
            }
        }
        .android{
            background: $mainBgLinearR;
            background-size: 250% 250%;
            color: #fff;
        }
        .ios{
            background: $mainBgLinearR;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.3);
        }
    }
}