.slide-courses {
    @include section();
    text-align: center;
    position: relative;
    
    .list-courses {
        padding: 0;
        margin: $mainSize 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            display: inline-block;
            margin: {
                left: .5rem;
                bottom: .5rem;
            }
            text-transform: capitalize;
            cursor: pointer;
            user-select: none;
            .nav-link {
                @include btnLink($fourColor, $mainColor);
                @include mQ(424px) {
                    font-size: .9rem;
                    padding: .7rem .5rem;
                }
                &.active {
                    background: $fourColor;
                    color: $mainColor;
                    box-shadow: none;
                }
            }
        }
    }
    .sub-title {
        @include subTilte();
    }
    .__carousel {
        position: relative;
        .carousel__button{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: $mainColor;
            color: #fff;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            border: none;
            outline: none;
            cursor: pointer;
            z-index: 1000;
            &--left{
                display: none;
                left: -3rem;
                @include mQ(605px){left: -0.8rem;}
            }
            &--right{
                right: -3rem;
                @include mQ(605px){right: -0.8rem;}
            }
            i {
                display: block;
                margin: auto;
                font-size: 1.1rem;
            }
        }
        .carousel__track--container {
            position: relative;
            overflow: hidden;
            .carousel__track {
                display: grid;
                grid-auto-columns: calc((100% - (4 - 1) * 1rem) / 4);
                grid-auto-flow: column;
                gap: 1rem;
                position: relative;
                @include mQ(991px){
                    grid-auto-columns: calc((100% - (2 - 1) * 1rem) / 2);
                }
                @include mQ(767px){
                    grid-auto-columns: calc((100% - (1 - 1) * 1rem) / 1);
                }
                .carousel__slide{
                    position: relative;
                    cursor: pointer;
                    
                    &:hover {
                        .more-details {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    .card {
                        box-shadow: $secShadow;
                        border: none;
                        border-radius: $mainSize / 2;
                        overflow: hidden;
                        margin: 0 auto $mainSize;
                        transition: $trans;
                        &-img-top {
                            height: 10rem;
                            padding: $mainSize / 16;
                            border-radius: .5rem .5rem 0 0;
                        }
                        &-body {
                            padding: $mainSize / 2;
                            .card-title {
                                color: $secDeColor;
                                font-weight: $bold;
                                letter-spacing: $mainSize / 16;
                            }
                            .text {
                                color: $mainColor;
                            }
                            .card-text {
                                color: $mainDeColor;
                            }
                            .details {
                                span {
                                    @extend .text;
                                }
                            }
                            .price {
                                @extend .text;
                                font-size: $mainSize + .3;
                                font-weight: $bold;
                            }
                        }
                    }
                    .more-details {
                        position: absolute;
                        top: 1rem;
                        transform-origin: center;
                        background: #fff;
                        box-shadow: $secShadow;
                        border-radius: .3rem;
                        transition: all .5s ease-in-out;
                        visibility: hidden;
                        opacity: 0;
                        z-index: 1500;
                        .info {
                            .text {
                            color: $mainColor;
                            }
                            .btns {
                                display: grid;
                                grid-template-columns: 75% 25%;
                                gap: .2rem;
                                place-items: center;
                                .link-cart {
                                    width: 100%;
                                    padding: .5rem 0;
                                    background: $mainColor;
                                    color: #fff;
                                    border-radius: .3rem;
                                    transition: $trans;
                                    &:hover {
                                        box-shadow: $secShadow;
                                    }
                                }
                                .icon {
                                    @extend .link-cart;
                                    border-radius: 50%;
                                    width: 2rem;
                                    height: 2rem;
                                }
                            }
                        }
                        @include mQ(767px){display: none;}
                    }
                        
                    
                }
            }  
        }
    }
    .btn-content {
        @include flexCenter(row);
        margin-top: $mainSize;
        .btn-link {
            @include btnLink($fourColor, $mainColor)
        }
    }
}
