// Start enrolled 
section(class = 'enrolled')
    .container
        div(class="row text-center")
            - let contents = { 724 : 'fas fa-history', 508 : 'fas fa-gift', 420 : 'fas fa-users', 130 : 'fas fa-award'}
                each icon, number in contents
                    div(class = 'col-lg-3 col-md-6 my-3')
                        div(class="box")
                            div(class="icon")
                                i(class = `${icon}`)
                            div(class="counter")= `${number}` 
                            div(class="text") enrolled student
                    
// End enrolled 