// Start mobile application 
section(class = 'mobile-app')
    .container
        h2(class = 'sub-title') mobile application
        div(class = 'row align-items-center')
            div(class = 'col-lg-6')
                div(class = 'info-app')
                    div(class = 'info-icon')
                        i(class = 'fas fa-download')
                    div(class = 'info-text')
                        h5(class = 'title') download an app for free
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nihil blanditiis commodi, minima recusandae non,
                div(class = 'info-app')
                    div(class = 'info-icon')
                        i(class = 'fas fa-user')
                    div(class = 'info-text')
                        h5(class = 'title') register in it
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nihil blanditiis commodi, minima recusandae non,
                div(class = 'info-app')
                    div(class = 'info-icon')
                        i(class = 'fas fa-clipboard-check')
                    div(class = 'info-text')
                        h5(class = 'title') get courses
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nihil blanditiis commodi, minima recusandae non,
                div(class = 'download-app')
                    div(class = 'download android')
                        span(class = 'icon fab fa-google-play')
                        span available on #[br] google play
                    div(class = 'download ios')
                        span(class = 'icon fab fa-apple')
                        span available on #[br] app store
            div(class = 'col-lg-6')
                div(class = 'mobile-img')
                    img(src = './assets/images/pic1.svg' alt = 'image' '')/ 
// End mobile application 