// Start our message 
section(class = 'our-message')
    .container
        h2(class = 'sub-title') our message
        div(class = 'row align-items-center')
            div(class = 'col-lg-6 text-lg-left text-center mb-4')
               
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni cupiditate pariatur voluptatum eveniet sapiente quasi expedita. Sunt odit, quibusdam voluptatibus ipsum pariatur ut laboriosam commodi exercitationem accusamus. Mollitia, excepturi. Praesentium Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere consequuntur magni corrupti sapiente veritatis est, pariatur quisquam obcaecati eligendi totam praesentium in! Necessitatibus dolorum odio nulla accusantium cumque dolor!
                a(class = 'btn-link' href = '#') View More
            div(class = 'col-lg-6 mb-4')
               div(class = 'video-card')
                    div(class = 'video-img')
                        img(src = './assets/images/latest-news.jpg' alt ='image' '')/
                    div(class="icon-play btnPlay")
                        i(class="fas fa-play")
                    div(class='video-player videoPlayer')
                        video(width="100%" loop controls autoplay)
                            source(src="./assets/media/video-header1.mp4" '')/
                        div(class = 'video-close closePlay')
                            span(class = 'icon fas fa-times') 
            

// End our message 