// Start subscribe 
section(class = 'subscribe')
    div.container
        h2(class= 'sub-title') Subscribe to our newslatter
        div(class = 'row justify-content-center')
            div(class = 'col-12')
                form(action = '#' method = 'GET')
                    div(class= 'form-group')
                        input(
                            class= 'form-control form-control-lg'
                            type = 'email'
                            placeholder = 'Enter your email'
                            required ''
                        )/
                        button(
                            class = 'btn-submit'
                            type = 'submit'    
                        ) subscribe
// End subscribe 