// Start video
section(class = 'video')
    .container
        h2(class = 'sub-title') Video
        div(class = 'row')
            - for(var x = 1; x < 3; x++)
                div(class = 'col-lg-6 mb-4')
                    div(class = 'video-card')
                        div(class = 'video-img')
                            img(src = './assets/images/latest-news.jpg' alt ='image' '')/
                        div(class="icon-play btnPlay")
                            i(class="fas fa-play")
                        div(class='video-player videoPlayer')
                            video(width="100%" loop controls autoplay)
                                source(src="./assets/media/video-header1.mp4" '')/
                            div(class = 'video-close closePlay')
                                span(class = 'icon fas fa-times')

// End video 